* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial;
}

.wrapper {
    margin: 0 px auto;
    width: 100%;
}

.main {
    width: 100%;
    float: left;
    height: 100vh;
    background-image: url("../../image/save\ nature.webp");
    background-size: 100%;
    overflow: hidden;
}

.nav {
    width: 100%;
    float: left;
    background-color: rgba(0, 0, 0, .5);
}

ul {
    width: 100;
    overflow: hidden;
    display: block;
    float: left;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;

}

a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 24px 56px;
    text-decoration: none;
    font-size: 24px;
    transition: all .5s;

}

a:hover {
    background-color: red;
}

.search {
    float: right;
    position: relative;
}

.search input {
    width: 300px;
    height: 30px;
    margin: 20px 20px 0px 0px;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, .2);
    /* opacity: .5; removed to make text visible */
    padding-left: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.search input::placeholder {
    color: #fff;
    opacity: 1;
    /* Firefox */
}

.search input::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #fff;
}

.content {
    width: 100%;
    float: left;

}

article {
    width: 13.5%;
    margin-left: 10%;
    background-color: rgba(255, 255, 0, .25);
    color: #000;
    display: block;
    float: left;
    text-align: center;
    padding: 50px 50px 0px 50px;
    margin-top: 300px;
    height: 800px;
    font-size: 18px;
    border-radius: 40px 40px 0px 0px;
    transition: all .5s;
}

article p,
article h1 {
    margin-top: 20px;
}

article:hover {
    background-color: #fff;
    color: #000;
    margin-top: 200px;

}